{% extends 'base.html.twig' %}

{% block title %}Thomas LAURE | Projet {{ project.title }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('project_css') }}
{% endblock %}

{% block inner_body %}
<div>
    <div class="parallax-header-project">
        <div class="container-fluid">
            <a href="{{ path('home') }}" class="btn btn-light rounded-pill p-md-3 font-weight-bold col-md-2 mt-3 mx-md-3" title="Return to home"><i class="fas fa-arrow-left"></i> Retour</a>
        </div>
        <h1 class="text-monospace text-center text-light mt-4">{{ project.title }}</h1>
        <hr class="sm-separator w-25">
        <h2 class="text-center text-light font-italic font-weight-light">{{ project.tag }}</h2>
    </div>
    <div class="mt-5 container">
        {% if project.context|length > 0 %}
        <p class="lead font-weight-bolder"><i class="fas fa-map-marker-alt"></i> {{ project.context }}</p>
        {% endif %}

        <p class="lead font-italic"><i class="far fa-calendar-alt"></i> {{ project.startDate|date("m/Y") }} - {{ project.endDate|date("m/Y") }}</p>
        <p class="lead text-justify">{{ project.description|nl2br }}</p>

        {% if project.files is defined %}
        {% for file in project.files.files %}
        <div><a href="{{ asset('/public/build/docs/' ~ file.path) }}" class="lead unstyled"><i class="far fa-file-alt"></i> {{ file.title }}</a></div>
        {% endfor %}
        {% endif %}

        {% if project.files.links is defined %}
        {% for link in project.files.links %}
        <div><a href="{{ link.path }}" class="lead unstyled"><i class="fas fa-external-link-alt"></i> {{ link.title }}</a></div>
        {% endfor %}
        {% endif %}

        {% if project.files.images is defined %}
        <div id="carouselIndicators" class="carousel slide mt-5" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for i in 0..project.files.images|length %}
                <li data-target="#carouselIndicators" data-slide-to="{{ i }}" {% if i == 0 %}class="active"{% endif %}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for image in project.files.images %}
                <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                    <img src="{{ asset('/public/build/images/' ~ image) }}" class="d-block w-100" alt="Image #{{ loop.index }}">
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}